doctype html
html(lang="en")
	head
		title Conexiones, banda y mangueras Chávez
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" href="/css/animate.css")
		link(href="/css/bootstrap.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/animate.css")
	body
		nav(class="senegro padding-largo text-center ")
			ul(class="no-lista texto-mediano")
				li(class="col-md-3  swash inline-block") 
					a(href="/" class="amarillo") Conexiones banda y mangueras chavez
					
				li(class="col-md-3  inline-block ")
					a(class ="blanco" href="") Acerca

		block contenido