extends  ./layout.jade
block contenido
		div(class="col-md-5  d-block mx-auto  text-center float top-space ")
			h1 Agregar producto
			form(method="post" action="/productos" style="magin-top:1.5em;" enctype="multipart/form-data")
				div(class="form-group")
					label Nombre
					input(type="text" name="titulo" placeholder="Nombre del producto" class="form-control")
				div(class="form-group")
					label Descripción
					textarea(type="text" name="descripcion" placeholder="Descripcion del producto" class="form-control")
				div(class="form-group")
					label Precio
					input(type="number" name="precio" placeholder="Precio"  class="form-control " min=0)
				div(class="form-group")
					label Imagen del producto
					input(type="file" name="imagen_avatar" class="form-control")
				div(class="form-group")
					label Password
					input(type="password" name="contraseña" placeholder="contraseña" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-info" value="Guardar")