doctype html
html(lang="en")
	head
		title  Conexiones, banda y mangueras Chávez
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/main.css")
		link(href="css/bootstrap.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/animate.css")

	body
		section(class="full-height text-center")
			div(class="col-md-4  d-block mx-auto espacio-arriba quitar-float animated bounceInDown")
				img(src="imagenes/cone.png")
				h1(class ="swash amarillo animated fadeIn retraso-1") Conexiones Bandas y Mangueras Chávez
				div(class="animated fadeInLeft retraso-2")
				a(class="gris espacio-derecha animated" href="/") Inicio
				a(class="gris espacio-derecha animated" href="/productos") Productos
				a(class="gris espacio-derecha animated" href="contacto.html") Contacto


